/* body{
    box-sizing: border-box;
} */

.box{
    width: 80px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
}

.wrapper{
    width: 300px;
    height: 350px;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 3px gray;
    float: left;
    position: relative;
    margin: 70px;
}

#box1{
    left: 50px;
    top: 100px;
    background-color: rgb(27, 162, 27);
}
#box2{
    left: 100px;
    top: 150px;
    background-color: rgb(36, 107, 201);
    z-index: 1;
}
#box3{
    left: 150px;
    top: 200px;
    background-color: rgb(210, 39, 45);
}
#box4{
    left: 50px;
    top: 100px;
    background-color: rgb(27, 162, 27);
    z-index: 1;
}
#box5{
    left: 100px;
    top: 150px;
    background-color: rgb(36, 107, 201);
}
#box6{
    left: 150px;
    top: 200px;
    background-color: rgb(210, 39, 45);
}
#box7{
    left: 50px;
    top: 100px;
    background-color: rgb(27, 162, 27);
}
#box8{
    left: 100px;
    top: 150px;
    background-color: rgb(36, 107, 201);
}
#box9{
    left: 150px;
    top: 200px;
    background-color: rgb(210, 39, 45);
    z-index: 1;
}